.emptyCart {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptyCart-Image {
    width: 250px;
    object-fit: contain;
}

.emptyCart h4 {
    font-size: 18px;
    margin-top: 24px;
    font-weight: 400;
}

.emptyCart p {
    font-size: 12px;
    margin-top: 10px;
}

.emptyCart-login {
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;
    padding: 12px 72px;
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    outline: none;
}