.login {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.login a > .MuiSvgIcon-root {
    color: #fff;
    font-size: xx-large !important;
}

.login-body {
    max-width: 700px;
    min-width: 650px;
    max-height: 55vh;
    min-height: 200px;
    max-height: 400px;
    display: flex;
}

.login-header {
    background-color: #2774f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 30px;
    width: 35%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.login-header h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #fff;
}

.login-header p {
    font-size: 18px;
    color: #dbdbdb;
}

.login-headerLogo {
    width: 150px;
    margin-top: 30px;
    border-radius: 50%;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.login-form input {
    padding: 8px 10px;
    width: 100%;
    color: #000;
    background: #fff;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 34px;
    font-size: 16px;
    outline: none;
}

.login-terms {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
}

.login-button {
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 2px;
}

.login-signUp {
    color: #2874f0;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

